matplotlib
matplotlib-stubs
netgraph @ https://github.com/paulbrodersen/netgraph/archive/dev.zip#sha256=f3a42cddf4efc40d594d847d6d9c396ddabdd9e5a5ba58855d6e71ced360dc8a
networkx
PuLP
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQt5-stubs
sympy
tabulate
tqdm
tqdm-stubs
z3-solver
